$green-main-color: #57ad56;
$green-dark-color: #327430;
$green-light-color: #49a144;

$gray-main-color: #757575;
$gray-soft-color: #75757533;
$gray-dark-color: #626262;
$gray-light-color: #e0e0e0;

$black-main-color: #262626;
$black-light-color: #3b3b3b;
$black-text-color: #3b3b3b;

$black-color: #000;
$white-color: #fff;
$white-soft-color: #ffffff66;
